.navbar {
    margin: 10px 0;
    
    }
    .navbar-default {
    background-color: #fff;
    border-color: #fff;
    }
    .brand-name {
    font-family: 'Josefin Slab', serif;
    font-size: 47px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    }
    
    .nav-container {
    padding-top: 8px;
    }
    
    .navbar-custom {
    font-size: 20px;
    background-color: #FFF;
    
    }