.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.vinform {
  background-image: url('./vinform_bg.jpg');
  background-position: cover;
  width: 100%;
  height: 100vh;
  padding: 15px;
}
.vincard {
  width: 400px;
  margin-top: 10px;
  opacity: .75;
}

.list-group-item {
  background-color: rgb(223, 222, 219) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
