* {
    box-sizing: border-box;
}

#partsImg {
    height: 260px;
    width: 300px;
    float: left;
  }

#partsDiv {
    float: none ;
    align-content: center;
}

p {
    align-content: center;
    font-size: 15px;
}


  