.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  border-top: #e74d57 solid 5px;
  /* border-top: #295a6b solid 5px; */
  margin-top: 45px;
}
